<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Order">
    <select id="findById" parameterType="java.util.List" resultType="goods">
        select * from chick_goods where id in
        <foreach collection="list" item="id" separator="," index="idx" open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>