<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Order">
    <select id="findById" parameterType="java.util.List" resultMap="cart">
        select c.memberId, c.goodsId, c.cartStock, g.id, g.goodsFileName1 ,g.goodsName, g.goodsStock, g.goodsPrice, g.goodsDiscount from chick_cart c, chick_goods g
        where c.goodsId = g.id and g.id in
        <foreach collection="list" item="id" separator="," index="idx" open="(" close=")">
            #{id}
        </foreach>
        order by id desc
    </select>

    <resultMap type="goods" id="goodsDTO">
        <result column="id" property="id"/>
        <result column="goodsName" property="goodsName"/>
        <result column="goodsStock" property="goodsStock"/>
        <result column="goodsPrice" property="goodsPrice"/>
        <result column="goodsDiscount" property="goodsDiscount"/>
        <result column="goodsFileName1" property="goodsFileName1"/>
    </resultMap>

    <resultMap type="cart" id="cart">
        <result column="goodsId" property="goodsId"/>
        <result column="memberId" property="memberId"/>
        <result column="cartStock" property="cartStock"/>
        <collection property="goodsDTO" resultMap="goodsDTO"/>
    </resultMap>

    <insert id="save" parameterType="orderPage">
        insert into chick_orderPage (memberId, orderName, orderZipCode, orderAddress, orderAddDetail ,orderMobile, deliveryMsg)
            values (#{memberId}, #{orderName}, #{orderZipCode}, #{orderAddress}, #{orderAddDetail}, #{orderMobile}, #{deliveryMsg})
    <selectKey resultType="Long" keyProperty="id" order="AFTER">
        select last_insert_id()
    </selectKey>
    </insert>

    <select id="findAll" parameterType="String" resultMap="orderPage">
        select p.*, g.orderId, g.goodsId, g.orderPrice from chick_orderpage p, chick_orderGoods g where p.id=g.orderid and p.memberId=#{memberId} order by p.id desc
    </select>

    <resultMap type="orderGoods" id="orderGoodsDTO">
        <result column="id" property="id"/>
        <result column="orderId" property="orderId"/>
        <result column="goodsId" property="goodsId"/>
        <result column="orderCount" property="orderCount"/>
        <result column="orderPrice" property="orderPrice"/>
    </resultMap>

    <resultMap type="orderPage" id="orderPage">
        <result column="id" property="id"/>
        <result column="memberId" property="memberId"/>
        <result column="orderZipCode" property="orderZipCode"/>
        <result column="orderAddress" property="orderAddress"/>
        <result column="orderAddDetail" property="orderAddDetail"/>
        <result column="orderMobile" property="orderMobile"/>
        <result column="deliveryMsg" property="deliveryMsg"/>
        <result column="deliveryCharge" property="deliveryCharge"/>
        <result column="orderState" property="orderState"/>
        <result column="orderDate" property="orderDate"/>
        <collection property="orderGoodsDTO" resultMap="orderGoodsDTO"/>
    </resultMap>

    <insert id="orderGoods" parameterType="java.util.HashMap">
        insert into chick_orderGoods (memberId, orderId, goodsId, cartCount, orderPrice)
            values (#{memberId}, #{orderId}, #{goodsId}, #{cartStock}, #{orderPrice})
    </insert>

</mapper>